// -colors

$lightCyan: hsl(193, 38%, 86%);
$neonGreen: hsl(150, 100%, 66%);
$btnHover: rgb(0, 255, 128);
$grayishBlue: hsl(217, 19%, 38%);
$dark-Grayish-Blue: hsl(217, 19%, 24%);
$body-bg: hsl(220, 22%, 16%);

// -font size
$font-size: 28px;

// -responsives

$mobile: 481px;
$smalldesktop: 769px;
$desktop: 1040px;
